@charset "utf-8";

body{
     background: url("r.jpg");/*para img no fundo*/
     /*background-color: rgb(101,254,204);*/
    color: rgba(0,0,0,1); /*cor da letra*/
}
p{
    text-align: justify; /*texto alinhado*/
    text-indent: 100px; /*texto com identação a 1°linha de 50 px*/
}

div#interface{
    width: 900px;

    background-color: rgba(250,250,250,0.8);
    margin: 100px 600px 0px 130px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 50px;
}

div#interface h2{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: cornflowerblue;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}


section#corpo{/*para dividir a pag corpo a esqueda*/
    display: block;
    width: 550px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px ;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}
aside#lateral{/*para dividir a pag a direita*/
    display: block;
    width: 280px;
    float: right;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;

}
footer#rodape{/*para fazer o rodape*/
    clear: both;/*faz com que o conteudo seja mostrado fora da divisao*/
    border-top:1px solid #606060;
    background-color: rgba(250,250,250,0.8);
    height: 100px;
}
footer#rodape p{
    text-align: center;
}


/*formatação do menu*/
/*como nav tem um id, usa-se a # para referencia */
nav#menu{
    display: block;/*para o bloco flutuar pela inteface*/
    border-bottom: 1px solid #606060;
}
nav#menu ul{ /*formata os li dentro do menu*/
    list-style: none;/* para tirar os marcadores dos itesns*/
    /*text-transform: uppercase; /*para tornar as letras tds maiuscular*/
    position: absolute;/*posicao sobre o site inteiro, diferente da relativa que move so dentro do conteiner*/
    top: 90px;
    left: 144px;
}
nav#menu li{
    position: relative;
    display: inline-block;/*para os itens ficarem uma ao lado do outro*/
    background-color: rgba(0,0,0,0.5); /*para colocar uma cor no fundo da caixa" do item*/
    padding: 10px;/*espacamento dentro da "caixa"*/
    margin: 1px;/*espaço fora da caixa" , a distancia entre os botões*/
    /*transition: background-color 1s ;*/
    border-radius: 10px 50px 0px 10px;

}
nav#menu li:hover{
    background-color: rgba(250,250,250,0.8);
}
nav#menu a{/*configuração do link*/
    color: black;
    text-decoration: none; /*tira o sublinhado*/
}
nav#menu a:hover{
    color: cornflowerblue;
}

header#cabecalho img#icone{
    position: absolute;
    top: 4px;
    left: 140px;
}

/* para colocar um linha de divisao*/
header#cabecalho {
    border-bottom: 1px #606060 solid;

    background: url("apsx.jpg") no-repeat 0px 100px;
}

























header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: aquamarine;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}



/*para conf foto com legenda, OBS: o figute.foto referencia a classe foto*/
figure.foto-legenda{
    position: relative; /*para que a legenda fique dentro da posicao do figure*/
    border: 8px solid white; /*borda para a img*/
    box-shadow: 1px 1px 4px black;/*descocamento orizontal , vertical, espalhamento, e cor, para junta a borda*/
    left: -50px;
}
figure.foto-legenda{
    width: 100%; /*para a foto aumenta e diminui de acordo com a interface*/
    height: 100%;/* e aompanha a borda*/
}
figure.foto-legenda figcaption{/*para configura a legenda*/
    position: absolute; /*como e um obj filho do figure, vai seer sbsoluto de acordo com ele*/
    top:0px;
    background-color: rgba(0,0,0,.4); /*para esse container da legenda fique transparente sobre a foto*/
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px; /*para ficar 10px dentro da img*/
    box-sizing: border-box;/*para que nao passe de dentro la img a legenda*/
    opacity: 0;/* para que quando passe o mouse por cima fique 1*/
    transition: opacity 1s;/*para demorar 1 seg para exibir ou esconder o conteudo*/
}
figure.foto-legenda:hover figcaption{/* para passar o mouse por cima e a legenda ser exibida*/
    opacity: 1;
}