@charset "utf-8";
@font-face { /*para colocar outra fonte desejavel*/
    font-family: 'Fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    font-family: Arial,sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}
/*--------------------------- formatação da div interface*/
div#interface{
    width: 900px; /*divide a tela do site, pois div esta portando o conteudo*/
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*coloca a margim entre os 4 lados*/
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /*sombra em toda a borada so site, vertical, horizoltal*/
    padding: 10px 10px 10px 10px; /*distancia entre as margens externas, internas achoo que e mading*/
}
p{
    text-align: justify;
    text-indent: 50px;
}
a{
    color: #606060;
    text-decoration: none; /*sem sublinhado*/
}
a:hover{
    text-decoration: underline;
}
/*-------- modificação da img oculos e cabeçalho*/
header#cabecalho img#icone{
    position: absolute;
    left: 780px;
    top: 70px;
}
header#cabecalho{
    border-bottom: 1px #606060 solid; /* dasched - pontilhada borda do cabeçalho linha para separa*/
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*para nao repeti, deslocamento vertical e altura*/
}
header#cabecalho h1{
    font-family: Arial sans-serif ;
    font-size:30px ;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); /*sombra na letra*/
    padding: 0px;
    margin-bottom: 0px; /*deslocamento da margem de baixo*/
}
header#cabecalho h2{
    font-family: Fontelogo, sans-serif;
    color: #888888;
    font-size:15pt;
    padding: 0px;
    margin-top: 0px; /*deslocamento da margem de cima*/
}
/*--------------------------formatação de imagens com legendas */
figure.foto-legenda{ /* referencia a class dentro de "figure" para img*/
    border: 8px solid white;
    box-shadow: 1px 1px 4px black; /*sombra*/
    position: relative;
}
/**class foto legenda, e chamada de class, pois pode ser atribuida para varios obj, nao e como id que pode ser atribuido para um como um inteiro*/
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0; /*transparencia sobre alguma legenda na imagem 1 100% 0 0%*/
    position: absolute; /*posicao absoluta dentro do seu espaço */
    top: 0px; /* altura da legenda*/
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px; /*espaço para a legenda*/
    box-sizing: border-box; /*para manter a borda da img dentro da img*/
    transition: opacity 1s; /*tempo para a legenda sobre a img*/
}

figure.foto-legenda:hover figcaption{/*houver - formatação especifica quando se passa o mouse por cima da img*/
    opacity: 1;
}
/*----------------------para menu nav */
nav#menu ul{
    list-style: none; /*some com os marcadores*/
    text-transform: uppercase; /* letras maisculas*/
    position: absolute; /*para que possa mover por cima dos documentos ja a relative podera mover so dentro do seu conteiner , do seu espaço*/
    top: -20px;
    left: 300px;
}
nav#menu li{
    display: inline-block; /*coloca os intens da lista lado a lado na mesma linha*/
    background-color: darkgray; /*cor de fundo*/
    padding: 10px; /*tamanho da caixa. espacamento*/
    margin: 2px; /*espaço fora da caixa, entre as opcoes*/
    transition:  background-color 1s; /*tempo de transicao do houver , quando passa o mouse*/
}
nav#menu li:hover{ /*vai fazer quando passar o mouse por cima*/
    background-color: #606060;
}
nav#menu{
    display: block; /*cria um bloco que pode navegar "mover" pela tela do site*/
}
nav#menu h1{
    display: none; /*esconde td que tiver entre h1*/
}
nav#menu a{
    color: black; /*cor das letras*/
    text-decoration: none; /*o sublinhado*/
    transition: color 1s;
}
nav#menu a:hover{
    color:white;
    text-decoration: underline; /*para sublinhar*/
}
/*--------------modificação das partes da tela do site*/
section#corpo{ /*parte esquerda di site*/
    display: block; /*para se tornar um bloco remanejavel*/
    width:500px; /*tamanho do espaço que vai ocupa na esquerda*/
    float: left; /*usa-se so se tiver o conteudo como block , para flutuar a direita*/
    border-right:1px solid #606060  ; /*borda - largura, tipo de linha, cor da linha*/
    padding-right: 15px; /*distancia da borda ate o texto*/
}
aside#lateral{ /*para parte direita do site*/
    display: block;
    width: 350px ;
    float: right;
    background-color:#dddddd ;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h1{
    font-family: Arial,sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
aside#lateral h2{
    background-color: #606060;
    font-size:  13pt;
    color: white;
    padding: 5px;
}

footer#rodape{
    clear: both; /*limpa a divisao que foi feita no site, nao considera a esquerda e direita, ficando normalmente no rodape*/
    border-top: 1px solid #606060;
}
footer#rodape p {
    text-align: center; /*para o texto fica centralizado*/
}
/*formatação para tabela-------------------------*/
table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px; /*espaço entre as bordas das celulas da tabela*/
    margin-left: auto; /*margem para se auto adaptar da maneira que esta aberta a tela*/
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;  /*espacamento dentro das celulas*/
    text-align: center;
    vertical-align: middle; /*alinha automaticamente a celula da tabela*/
}
/*td.ce ,, se faz referencia a cada classe da celulas da tabela ce. na pag index.html*/
table#tabelaspec td.ce{
    color: #ffffff; /* cor da fonte */
    background-color: #606060; /*cor de fundo*/
    vertical-align: top;
    font-weight: bolder; /*negrito*/
}
table#tabelaspec td.cd{
    background-color: #cecece;
}
table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder; /*negrito*/
}
table#tabelaspec caption span{
    display: block; /*se desconecta do texto para se mover*/
    float: right;
    color: black;
    font-size: 8px;
    margin-top: 10px;
}
/*aticle artigos para formatação dos titulos e os demais coisas*/
article#noticia-principal h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px; /*espacamento interno*/
    margin: 10px 0px 10px 0px; /*espacemetno externo*/
}
header#cabecalho-artigo h1{
    font-family: Arial, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h1.direita{
    text-align: right;
}
header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}
